
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

.header,  .all_logement, .all_about, .all_error{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top:4rem;
}

* {
    font-family: Montserrat;
}

@media (max-width: 600px) {
    .header, .banner, .galery, .all_logement, .all_about {
        margin-left: 2rem;
        margin-right:2rem;
        margin-top:1rem;
    }
}