
@mixin flex_row {
    display : flex;
    flex-direction: row;
}

@mixin flex_row_spacebetween {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex_column_spacebetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin banner {
    height: 10rem;
    max-width: 100%;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  50%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}