.logement {

    @include flex_row_spacebetween;

    &_title_left_part {
        
        margin-top: 2rem;
        margin-bottom: 2rem;

        &_location {

            &_main_title {
                color: $colorMainWriting;
                margin: 0%;
            }

            &_sub_title {
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                margin: 0%;
            }
        }

        
    }

    &_title_right_part {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        &_vendor {
            @include flex_row;
            justify-content: flex-end;
            align-items: center;
            color: $colorMainWriting;
            gap: 1rem;
            text-align: right;
            font-weight: 500;

            &_sub_title {
                width: 40%
            }

            &_picture {
                border-radius: 50%;
                width : 25%;
            }
        }

        
    }

    &_tags {
        @include flex_row;
        align-items: center;
        height: 50px;
        gap: 1rem;
        

        &_list {
            background-color: $colorMainWriting;
            color: $colorTitle;
            padding: 0.5rem 2rem ;
            margin: 0%;
            border-radius: 10px;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;            
        }

        &_stars {
            margin-top: 1rem
        }
    }



    &_dropdown_menus {
        @include flex_row;
        gap: 5rem;

        
    }

    /*&_div {
        @include flex_row_spacebetween;
        margin-bottom: 1.5rem;
    }*/
}

@media (max-width: 972px) {


}