.dropdown {
    background-color: $colorBackgroundDropdownMenu;
    height: 40px;
    border-radius: 5px;
    height: fit-content;
    width: 80%;
    margin-bottom: 2rem;

    &_visible_part {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem 0rem 2rem;
        
        &_title {
            color: $colorTitle;
        }

        &_cursor {
            width: 30px;
            height: 30px;
            transition: transform 1s ease;
        }
    }

    &_invisible_part {
        
        background-color: $backgroundMainGalery;
        padding: 1rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: none;
        animation : heightOnex 2s ;

        &_paragraph {
            display: flex;
            flex-direction: column;
            height: max-content;
            

            &_list {
                margin: 0.2rem;
            }
        }
    }
}

.rotation {
    transform: rotate(-180deg);
}