
  .galery {
        display: flex;
        column-gap: 2rem;
        flex-wrap: wrap;
        background-color: $backgroundMainGalery;
        padding: 2rem;
        border-radius: 10px;
        margin-bottom: 2rem;

    &_article {
        height: 250px;
        width: calc(33.33% - 2rem);  
        margin-bottom: 2rem; 
        background-position: center;
        border-radius: 10px;

    &_link {
        height: 100%;
        width: 100%;
        display: block;
        text-decoration: none;
        position: relative;
        }

    &_title {
        color: $colorTitle;
        margin: 0%;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
    }
    }

  }

  @media (max-width: 1000px) {

    .galery {


        &_article {

            width: calc(50% - 2rem);  
        }
    }

  }

  @media (max-width: 780px) {

    .galery {
        padding: 0%;

        &_article {
            /*width: 100%;*/
            width: calc(100%); 
        }
    }

  }
