



.header {
    @include flex_row_spacebetween;

    &_div {
        width:15%;
    }

    &_div_list {
        @include flex_row_spacebetween;
        list-style-type: none;
        padding: 0%;
        &_link {
            color: $colorMainWriting;
            text-decoration: none;
            font-size: 25px;
            line-height: 34px;
            
        }
    }
}

.active {
    text-decoration: underline;
}